<%= form_for @cliente, remote: true, :html => { :class => "form-horizontal cliente" } do |f| %>
  <div class="modal fade" id="mynewcliente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Cliente</h4>
        </div>
        
        <div class="modal-body">

            <div class="form-group">

                <%= f.label :run_cliente, :class => 'control-label col-lg-3' %>
                <div class="col-lg-8">
                    <%= hidden_field_tag  :run_cliente, params[:run_cliente], class: "form-control", placeholder: "Ingrese Run del cliente"%>
                  <input id="buscador_rut_cliente"  name="buscador_rut_cliente" type="text" class="txt-auto form-control" >
                </div>

            </div>

            <div class="form-group">

                <%= f.label :dv_cliente, :class => 'control-label col-lg-3' %>
                <div class="col-lg-8">
                  <%= f.text_field :dv_cliente, :class => 'form-control cliente_dv_cliente' %>
                </div>

            </div>

            <div class="form-group">

                <%= f.label :nombres_cliente, :class => 'control-label col-lg-3' %>
                <div class="col-lg-8">
                  <%= f.text_field :nombres_cliente, :class => 'form-control cliente_nombres_cliente' %>
                </div>

            </div>

            <div class="form-group">

                <%= f.label :apellidos_cliente, :class => 'control-label col-lg-3' %>
                <div class="col-lg-8">
                  <%= f.text_field :apellidos_cliente, :class => 'form-control cliente_apellidos_cliente' %>
                </div>

            </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="mynewclienteclose">Close</button>
          <%= submit_tag "Crear", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<script>
  $(function () {
      $("#buscador_rut_cliente").autocomplete({
          source: '/cliente_autocomplete',
          minLength: 4,
          select: function (event, ui) {
            $("#run_cliente").val(ui.item.run_cliente);
          },
          close: function () {},
      });
  });

</script>