<h3>Última Venta Registrada en Softland <span class="caret"></span></h3>

<div class="row new-customer">
<blockquote>
<address>
  <dl class="dl-horizontal bg-info">
    <dt>Folio:</dt>
    <dd><%=@sale.Folio %></dd>
    <dt>Tipo Venta:</dt>
    <dd><%=@sale.Proceso %></dd>
    <dt>Creación:</dt>
    <dd><%= @sale.FecHoraCreacionVW.to_formatted_s(:db) if @sale.FecHoraCreacionVW  %></dd>
    <dt>Tipo Venta:</dt>
    <dd><%=@sale.Proceso %>( <%=@sale.Tipo %> )</dd>
    <dt>Usuario:</dt>
    <dd><%= @sale.Usuario %></dd>
    <dt>Total Venta:</dt>
    <dd><%= @sale.Total %></dd>
  </dl>
</address>
</blockquote>
</div>
<br>
<br>
<button class="btn btn-danger btn-lg" type="submit">...en Desarrollo</button>

