    <h3>
  Búsqueda de Productos Despachados
  <small class="text-muted">Filtrados por fecha</small>
</h3>
    <%= form_tag sale_distpaches_path, method: :get do %>
    <div class=" row">
      <div class="  col-xs-5 col-md-2">
        <%= text_field_tag :start_date, params[:start_date], class: "form-control datepicker", placeholder: "F. Despacho Desde", title: "Fecha de Despacho Desde"%>
      </div>
      <div class="  col-xs-5 col-md-2">
        <%= text_field_tag :end_date, params[:end_date], class: "form-control datepicker", placeholder: "F. Despacho Hasta", title: "Fecha de Despacho Hasta" %>
      </div>
      <div class="  col-xs-5 col-md-2">
        <%= text_field_tag :id_product, params[:id_product], class: "form-control", placeholder: "CODIGO Producto"%>
      </div>
      <div class="  col-xs-5 col-md-2">
        <%= text_field_tag :folio, params[:folio], class: "form-control", placeholder: "Folio"%>
      </div>
        <% if current_user.admin? %>
        <div class="  col-xs-5 col-md-2">
          <%= collection_select :warehouse_id, :id, Warehouse.all, :id, :name, {prompt: 'Selecciona una Bodega'}, {class: "form-control"} %>
        </div>
      <% end %>
      <div class="  col-xs-5 col-md-2">
        <%= select_tag :status_type, options_for_select([["Selecciona estado...", ""], "Pendiente", "Completado", "Parcial", "Pendiente Automatico"]), class: 'form-control' %>
      </div>
      </div><br>
      <div class=" row">
      <div class="  col-xs-2 col-md-12">
        <%= submit_tag "Buscar Despachos", name: nil, class: "btn btn-primary btn-md" %>
      </div>
    </div>
  <% end %>
  <br>
  <% if @gmov_distpaches.present? %>
    <p>
      Descargar: 
      <%= link_to "Excel", sale_distpaches_path(format: "xls", start_date: params[:start_date], 
                  end_date: params[:end_date],  id_product: params[:id_product],  id_product: params[:id_product], warehouse_id: { id: params[:warehouse_id][:id] }, status_type: params[:status_type], folio: params[:folio]) if current_user.admin? %>
      <%= link_to "Excel", sale_distpaches_path(format: "xls", start_date: params[:start_date], 
                  end_date: params[:end_date],  id_product: params[:id_product], warehouse_id: { id: current_user.warehouse.id }, status_type: params[:status_type], folio: params[:folio]) unless current_user.admin? %>
    </p>
    <table class="table table-sm table-hover">
      <thead>
        <tr class="bg-success">
          <th>Folio</th>
          <th>Fecha Crea eDespacho</th>
          <th>Fecha Crea Softland</th>
          <th>Fecha Inicia Despacho</th>
          <th>Fecha último Despacho</th>
          <th>Código</th>
          <th>Producto Despachado</th>
          <th>Cantidad Vendida</th>
          <th>Cantidad Despachada</th>
          <th>Pendiente por despachar</th>
          <th>Rut Cliente</th>
          <th>Estado</th>
          <% if current_user.admin? %>
            <th>Tipo Ingreso</th>
            <th>Bodega</th>
            <th>Usuario</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
    
        <% @gmov_distpaches.each do |gmov| %>
          <tr>
            <td>
              <%= link_to gmov.sale_distpach.folio, search_path(search: {type_sale: gmov.sale_distpach.id_sale_type, q: gmov.sale_distpach.folio}, commit: "Buscar") %>
            </td>
            <td><%= gmov.sale_distpach.created_at.to_formatted_s(:db) %> </td>
            <td><%= gmov.sale_distpach.fecha_crea_softland.to_formatted_s(:db) if gmov.sale_distpach.fecha_crea_softland.present? %> </td>
            <td><%= gmov.fecha_inicia_despacho.to_formatted_s(:db) if gmov.fecha_inicia_despacho.present? %> </td>
            <td><%= gmov.fecha_ultimo_despacho.to_formatted_s(:db) if gmov.fecha_ultimo_despacho.present? %> </td>
            <td><%= gmov.id_product %></td>
            <td ><%= gmov.name_product %></td>
            <td ><%= gmov.sale_check_quantity.present? ? gmov.sale_check_quantity : "0.0"  %></td>
            <td ><%= gmov.distpached_quantity.present? ? gmov.distpached_quantity : "0.0"  %></td>
            <td ><%= gmov.pending_distpach %></td>
            <td ><%= "#{gmov.sale_distpach.cliente_acoma.run_cliente}-#{gmov.sale_distpach.cliente_acoma.dv_cliente}" if gmov.sale_distpach.cliente_acoma.present? %></td>
            <td ><%= gmov.status if gmov.status.present?  %></td>
            <% if current_user.admin? %>
              <td ><%= gmov.sale_distpach.tipo_ingreso if gmov.sale_distpach.tipo_ingreso.present?  %></td>
              <td><%= Warehouse.find(gmov.sale_distpach.id_store).name if gmov.sale_distpach.id_store.present?%></td>
              <td><%= gmov.user.email if gmov.user.present?%></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @gmov_distpaches, :previous_label => 'Anterior', :next_label => 'Siguiente' %>
  <% end %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.datepicker').datepicker({
        isRTL: false,
        format: 'dd/mm/yyyy',
        autoclose:true,
        language: 'es'
      });
    });
</script>