    <h3>
  Búsqueda de Productos Despachados
  <small class="text-muted">Filtrados por fecha</small>
</h3>
    <%= form_tag sale_distpaches_path, method: :get do %>
    <div class=" row">
      <div class="  col-xs-5 col-md-2">
        <%= text_field_tag :start_date, params[:start_date], class: "form-control datepicker", placeholder: "Fecha Inicio"%>
      </div>
      <div class="  col-xs-5 col-md-2">
        <%= text_field_tag :end_date, params[:end_date], class: "form-control datepicker", placeholder: "Fecha Término" %>
      </div>
      <div class="  col-xs-2 col-md-1">
        <%= submit_tag "Buscar Despachos", name: nil, class: "btn btn-primary btn-md" %>
      </div>
    </div>
  <% end %>
  <br>
  <% if @gmov_distpaches.present? %>
    <table class="table table-sm table-hover">
      <thead>
        <tr class="bg-success">
          <th>Folio</th>
          <th>Fecha</th>
          <th>Código</th>
          <th>Producto Despachado</th>
          <th>Cantidad Despachada</th>
          <th>Pendiente por despachar</th>
          <th>Estado</th>
          <% if current_user.admin? %>
            <th>Usuario</th>
          <% end %>
        </tr>
      </thead>

      <tbody>
    
        <% @gmov_distpaches.each do |gmov| %>
          <tr>
            <td><%= gmov.sale_distpach.folio %></td>
            <td><%= gmov.created_at.to_formatted_s(:db) %> </td>
            <td><%= gmov.id_product %></td>
            <td ><%= gmov.name_product %></td>
            <td ><%= gmov.distpached_quantity.present? ? gmov.distpached_quantity : "0.0"  %></td>
            <td ><%= gmov.pending_distpach %></td>
            <td ><%= gmov.status %></td>
            <% if current_user.admin? %>
              <td><%= gmov.user.email %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @gmov_distpaches %>
  <% end %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.datepicker').datepicker({
        isRTL: false,
        format: 'dd/mm/yyyy',
        autoclose:true,
        language: 'es'
      });
    });
</script>