<%= form_for @customer_quote, :html => { :class => "form-horizontal customer_quote" } do |f| %>
  <% if @customer_quote.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@customer_quote.errors.count, "error") %> prohibited this customer_quote from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @customer_quote.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :email, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :full_name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :full_name, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :rut, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :rut, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :address, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :address, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :total_quote, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.number_field :total_quote, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :user, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :user, :class => 'form-control' %>
    </div>
  </div>


  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancelar',
                customer_quotes_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>