<% if @gaps.present? %>
<!--   <h3>Resultado de la búsqueda de saltos de Folios en Softland <span class="caret"></span></h3><br>
  <ul class="list-group list-inline">
  <% @gaps.each do |gap| %>
    <li class="list-group-item text-warning"> <%= gap.Folio %></li>
  <% end %> -->
  <h3>En Construcción...</h3>
<% elsif @sale.present? %>

<h3>Resultado de la búsqueda Folio: <%= @sale.Folio%> en Softland <span class="caret"></span></h3>

<div class="row new-customer">
    <blockquote>
        <address>
          <dl class="dl-horizontal bg-info">
            <dt>Folio: </dt>
            <dd>
                <%=@sale.Folio %>
                <% if (@credit_note.present?) 
                     @credit_note.each do |credit|%>
                    <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#credit_note">Nota de Crédito: <%= credit.Folio %>
                        
                    </button>
                <% end 
                end %>    
            </dd>
            <dt>Tipo Venta:</dt>
            <dd><%=@sale.Proceso %></dd>
            <dt>Bodega:</dt>
            <dd><%=@sale.store.DesBode %></dd>
            <dt>Creación:</dt>
            <dd><%= @sale.FecHoraCreacion.to_formatted_s(:db) if @sale.FecHoraCreacion %></dd>
            <dt>Usuario:</dt>
            <dd><%= @sale.Usuario %></dd>
            <dt>Total Venta:</dt>
            <dd><%= @sale.Total %></dd>
            <dt>Cliente:</dt>
            <% if @distpach.cliente_acoma.present? %>
              <dd id="nombre_cliente_acoma_dd"><%= "#{@distpach.cliente_acoma.nombres_cliente} #{@distpach.cliente_acoma.apellidos_cliente} (#{@distpach.cliente_acoma.run_cliente}-#{@distpach.cliente_acoma.dv_cliente})" %></dd>
            <% else %>
              <dd id="nombre_cliente_acoma_dd"></dd>
            <% end %>
          </dl>
        </address>
    </blockquote>
</div>

<%= form_for(@distpach, url: sale_distpaches_path(@distpach), html: {method: "post"}) do |f| %>
  <%= f.hidden_field :id %>
  <table class="table table-sm table-hover">
    <thead>
      <tr class="bg-success">
        <th>#</th>
        <th>Código</th>
        <th>Productos Vendidos</th>
        <th>Medida</th>
        <th>Cantidad Vendida</th>
        <th>Pendiente por despachar</th>
        <th>Cantidad a Despachar</th>
        <th>Observación</th>
      </tr>
    </thead>

    <tbody>
  
      <% @distpach.gmov_distpaches.order("id_line_gmov asc").each do |gmov| %>
        <%= f.fields_for  'gmov_distpaches[]', gmov do | g | %>
            <tr class= <%= "bg-warning" if gmov.has_credit_note %>>
                <td><%= gmov.id_line_gmov %></td>
                <td><%= gmov.id_product %> 
                  <% if gmov.has_credit_note %>
                    <span class="label label-danger">nc</span>
                  <% end %>
                </td>
                <td><%= gmov.name_product %></td>
                <td><%= gmov.measure %></td>
                <td ><%= eval(sprintf("%8.3f", gmov.sale_check_quantity)) %></td>
                <td ><%= eval(sprintf("%8.3f", gmov.pending_distpach)) %></td>
                <td >
                  <%= g.hidden_field :id %>
                  <% if gmov.status == 'Completado' %>
                    <span class="label label-info">Completado</span>
                  <% elsif gmov.status == 'Error' %>
                    <%= g.number_field :distpached_quantity, class: 'form-control', placeholder: 'Ingrese Cantidad', step: :any, value: "" %>
                    <span class="label label-danger">Error</span>
                  <% else %>
                    <%= g.number_field :distpached_quantity, class: 'form-control', placeholder: 'Ingrese Cantidad', step: :any, Value: "" %>
                  <% end %>   
                </td>
                <td>
                  <% if gmov.status == 'Completado' %>
                    <span class=""><%= gmov.observation %></span>
                  <% else %>
                    <%= g.text_field :observation, class: 'form-control', placeholder: 'Ingrese obs.', step: :any %>
                  <% end %>
                </td>
            </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <% if current_user.admin? %>
  <div class="col-xs-3" id="cliente_acoma_boton">
    <%= link_to 'Asociar Cliente',
                    new_cliente_acoma_path, { :class => 'btn btn-info btn pull-right', 'data-toggle' => 'modal', 'data-target'=> '#modal_cliente', remote: true } %>
  </div>
  <% elsif @distpach.cliente_acoma.nil? %>
    <div class="col-xs-3" id="cliente_acoma_boton">
      <%= link_to 'Asociar Cliente',
                      new_cliente_acoma_path, { :class => 'btn btn-info pull-right', 'data-toggle' => 'modal', 'data-target'=> '#modal_cliente', remote: true } %>
    </div>
  <% end %>
  <% if(@distpach.status != 'Despachado') %>
    <div class="col-xs-3">
      <%= f.submit 'Despachar', class: 'btn btn-primary pull-right' %>
    </div>
    <div class="col-xs-3">
      <input class="btn btn-warning pull-right" type="button" value="Despacho Total" data-toggle="modal" data-target="#confirm-distpach"/>
    </div>
  <% end %>
  <% if current_user.admin? %>
    <div class="col-xs-3">
        <input class="btn btn-danger pull-right" type="button" value="Eliminar Despacho" data-toggle="modal" data-target="#confirm-delete-distpach"/>
    </div>
  <% end %>
  <div class="modal fade" id="confirm-distpach" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            Despacho Total
        </div>
        <div class="modal-body">
            <strong>¿Está seguro que quiere hacer un Despacho a todos los productos vendidos?</strong>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <%= f.submit 'Despachar Total', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
  <% if current_user.admin? %>
    <div class="modal fade" id="confirm-delete-distpach" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
              Administrador - Eliminar Productos Despachados
          </div>
          <div class="modal-body">
              <strong>¿Está seguro que quiere ELIMINAR el Despacho a todos los productos?</strong>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <%= link_to "Eliminar", sale_distpach_path(@distpach), :method => :delete, :class=> 'btn btn-danger' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<div class="modal fade" id="aviso-asociar-cliente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title text-danger" id="exampleModalLongTitle">Asociar Cliente</h2>
      </div>
      <div class="modal-body">
          <strong>Debes Asociar Cliente antes de Despachar productos.</strong>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn btn-primary" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>
<div id="credit_note" class="modal fade" role="dialog">
    <% if @credit_note.present? %>
        <%= render @credit_note %>
    <% end %>
</div>
<% else %>
  <h3>No se encontraron resultados</h3>
<% end %>
<%= render "cliente_acomas/modal", object: @distpach %>
<script type="text/javascript">
    $(document).ready(function(){
      <% if @distpach.cliente_acoma.present? %>
        $("#id_cliente_acoma").val("<%= @distpach.cliente_acoma.id %>");
        $("#buscador_rut_cliente").val('<%= "#{@distpach.cliente_acoma.run_cliente}-#{@distpach.cliente_acoma.dv_cliente}" %>');
        $("#run_cliente").val('<%= "#{@distpach.cliente_acoma.run_cliente}-#{@distpach.cliente_acoma.dv_cliente}" %>');
      <% else %>
        <% if Date.today > @distpach.fecha_crea_softland %>
          $("#buscador_rut_cliente").val("");
          $("#aviso-asociar-cliente").modal("show");
          $("#id").val('');
          $("#id_cliente_acoma").val('');
          $("#run_cliente").val('');
        <% end %>
      <% end %>


    });
</script>

