<h3>Resultado de la búsqueda Folio: <%= @sale.Folio%> en Softland <span class="caret"></span></h3>

<div class="row new-customer">
    <blockquote>
        <address>
          <dl class="dl-horizontal bg-info">
            <dt>Folio: </dt>
            <dd>
                <%=@sale.Folio %>
                <% if (@credit_note.present?) %>
                    <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#credit_note">Nota de Crédito: <%= @credit_note.Folio %>
                        
                    </button>
                <% end %>    
            </dd>
            <dt>Tipo Venta:</dt>
            <dd><%=@sale.Proceso %></dd>
            <dt>Bodega:</dt>
            <dd><%=@sale.store.DesBode %></dd>
            <dt>Creación:</dt>
            <dd><%= @sale.FecHoraCreacionVW.to_formatted_s(:db) if @sale.FecHoraCreacionVW %></dd>
            <dt>Usuario:</dt>
            <dd><%= @sale.Usuario %></dd>
            <dt>Total Venta:</dt>
            <dd><%= @sale.Total %></dd>
          </dl>
        </address>
    </blockquote>
</div>


<table class="table table-sm table-hover">
    <thead>
      <tr class="bg-success">
        <th>#</th>
        <th>Código</th>
        <th>Productos Vendidos</th>
        <th>Cantidad Vendida</th>
        <th>Pendiente por despachar</th>
        <th>Despachar</th>
      </tr>
    </thead>

    <tbody>
      <% @distpach.gmov_distpaches.each do |gmov| %>
            <tr class= <%= "bg-warning" if gmov.has_credit_note %>>
                <td><%= gmov.id_line_gmov %></td>
                <td><%= gmov.id_product %> <span class="label label-danger">nc</span></td>
                <td><%= gmov.name_product %></td>
                <td ><%= gmov.sale_check_quantity %></td>
                <td ><%= gmov.pending_distpach %></td>
                <td ></td>
            </tr>
      <% end %>
    </tbody>
</table>

<div id="credit_note" class="modal fade" role="dialog">
    <% if @credit_note.present? %>
        <%= render @credit_note %>
    <% end %>
</div>
<button class="btn btn-danger btn-lg" >...en Desarrollo</button>
