 <h3>
  Búsqueda de Productos
  <small class="text-muted">autocompletar</small>
</h3>
<div id="costosDiv"></div>
    <%= form_tag search_costs_path, method: :get do %>
    <div class="row">
      <div class="  col-xs-8 col-md-7">
        <%= hidden_field_tag  :CodProd, params[:CodProd], class: "form-control", placeholder: "Ingrese Códigooo Producto"%>
      <input id="buscador_descripcion_productos"  name="buscador_descripcion_productos" type="text" class="txt-auto form-control" >
      </div>
      <div class="  col-xs-4 col-md-5">
        <%= submit_tag "Buscar Producto", name: nil, class: "btn btn-primary btn-md" %>
      </div>
    </div>
    <% end %>
    <% if @costos_producto.present? %><br>
      <div class="panel panel-primary">
        <div class="panel-heading"><%= @costos_producto.product.DesProd %></div>
        <div class="panel-body">
          <div class=" col-md-8 col-lg-8 ">  
            <table class="table table-user-information">
             <tbody>
               <tr>
                 <th>Código:</th>
                 <td><%=@costos_producto.CodProd %></td>
               </tr>
               <tr>
                 <th>Fecha Costo:</td>
                 <td><%=@costos_producto.Fecha.to_date %></td>
               </tr>
               <tr>
                 <th>Costo Unitario:</th>
                 <td>$ <%=number_with_delimiter(@costos_producto.CostoUnitario.to_i, delimiter: ".") %>
                   <input type="hidden" name="costo" id="costo" value="<%=@costos_producto.CostoUnitario.to_i %>">
                   <input type="hidden" name="precio" id="precio">
                   <input type="hidden" name="precio_iva" id="precio_iva">
                   <input type="hidden" name="precio_con_iva" id="precio_con_iva">
                   <input type="hidden" name="id_product" id="id_product" value="<%=@costos_producto.CodProd %>">
                   <input type="hidden" name="tax_iva" id="tax_iva" value="0.19">
                 </td>
               </tr>
              <tr>
                 <th>Stock:</td>
                 <td><%=number_with_precision(@stock, precision: 2, separator: ',', delimiter: '.') %></td>
               </tr>
                 <tr>
                 <th>Pendiente Despacho:</th>
                 <td><%=@pending_distpach%></td>
               </tr>
               <tr>
                 <th>Margen (%):</th>
                 <td><input type="text" name="margen" id="margen" class="form-control" placeholder="ingrese porcentaje" ></td>
               </tr>
               <tr><th>Cantidad:</th>
                 <td><input type="text" name="cantidad" id="cantidad" class="form-control" placeholder="ingrese cantidad" >
                 </td>
               </tr>
             </tbody>
            </table>
            <button class="btn btn-primary" onclick="llamada()"><i class="fa fa-shopping-cart"></i> Agregar</button><br>
            <div class="row col-xs-12" id="llamada_x"></div>
          </div> 
          <div class="row col-xs-12 col-md-4" id="info_precios_div">                              
            <div class="col-xs-12" id="precio_text"></div><br><br>
            <div class="col-xs-12" id="precio_iva_text"></div><br><br>
            <div class="col-xs-12" id="precio_con_iva_text"></div>
            <div class="col-xs-12" id="total_text"></div>
          </div>
        </div>
      </div>
    <% end %>

    <script>
    $(function () {
        $("#buscador_descripcion_productos").autocomplete({
            source: '/buscardor_autocomplete',
            minLength: 4,
            select: function (event, ui) {
              $("#CodProd").val(ui.item.CodProd);
            },
            close: function () {},
        });
    });
    $(document).ready(function(){
        var impuesto_iva = $("#tax_iva").val();
        $("#margen").keyup(function(event){
          $("#llamada_x").html("");
          if($("#margen").val() <11){
            $("#llamada_x").html("<div class='alert alert-danger'>El margen debe ser mayor a 10%.</div>");
            $("#info_precios_div").hide();
            return;
          }
          $("#info_precios_div").show();
          var factor = ($("#margen").val()/100)+1;
          var precio = parseInt($("#costo").val()*factor);
          var iva = parseInt(precio * impuesto_iva);
          var precio_con_iva = precio+ iva;
          $("#precio_text").html("El precio neto es: <div class='texto_mediano'>$" +format_numero_separador_miles(parseInt(precio))+"</div>"  );
          $("#precio_iva_text").html("Impuesto Iva: <div class='texto_mediano'>$" +format_numero_separador_miles(parseInt(iva))+"</div>"  );
          $("#precio_con_iva_text").html("Precio: <div class='texto_grande'>$" +format_numero_separador_miles(parseInt(precio_con_iva))+"</div>"  );
          $("#precio").val(precio);
          $("#precio_iva").val(iva);
          $("#precio_con_iva").val(precio_con_iva);
          if($("#cantidad").val() != ""  && $("#margen").val() != ""){
            var total = $("#precio_con_iva").val()*$("#cantidad").val();
            $("#total_text").html("Total: <div class='texto_grande alert alert-success'>$" +format_numero_separador_miles(parseInt(total))+"</div>"  );
          }else{
            $("#total_text").html("");
          }
        });
        $("#cantidad").keyup(function(event){
          if($("#precio").val() != ""){
            var total = $("#precio_con_iva").val()*$("#cantidad").val();
            $("#total_text").html("Total: <div class='texto_grande alert alert-success'>$" +format_numero_separador_miles(parseInt(total))+"</div>"  );  
          }
        }); 
    });
     function llamada(){
      var costo = $("#costo").val();
      var margen = $("#margen").val();
      var impuesto_iva = $("#tax_iva").val();
      var net_price = $("#precio").val();
      var tax_iva = $("#precio_iva").val();
      var precio_con_iva = $("#precio_con_iva").val();
      var cantidad = $("#cantidad").val();
      var total_price = precio_con_iva * cantidad;

      var id_product = $("#id_product").val();
      $.ajax({
              url:'/llamada_ajax',
              type:'POST',
              dataType:'json',
              data:{ cotiza:{
                  cost_product: costo,
                  margin: margen,
                  net_price: net_price,
                  tax_iva: tax_iva,
                  price: precio_con_iva,
                  quantity: cantidad,
                  total_price: total_price,
                  id_product: id_product}
              },
              success:function(data){
                $("#llamada_x").html("<div class='alert alert-success'>Datos añadidos al carro de cotizaciones.</div>");
                if(parseInt($("#badge_cantidad_carro_cotizacion_top_bar").text()) != '0'){
                  var cantidad = parseInt($("#badge_cantidad_carro_cotizacion_top_bar").text())+1;
                  $("#badge_cantidad_carro_cotizacion_top_bar").text(cantidad);
                }else{
                  $("#display_carro").show();
                  $("#badge_cantidad_carro_cotizacion_top_bar").text(1); 
                }
              },
              error:function(data){
                  console.log("errorr rr");
              }
          });
    }
  </script>


