<tr id="cliente_acoma_<%= cliente_acoma.id %>">

  <td><%= cliente_acoma.run_cliente %></td>

  <td><%= cliente_acoma.dv_cliente %></td>

  <td><%= cliente_acoma.nombres_cliente %></td>

  <td><%= cliente_acoma.apellidos_cliente %></td>

  <td><%= cliente_acoma.created_at %></td>
  <td>
    <%= link_to 'Mostrar',
                cliente_acoma_path(cliente_acoma), :class => 'btn btn-default btn-xs' %>
    <%= link_to 'Editar',
                edit_cliente_acoma_path(cliente_acoma), :class => 'btn btn-default btn-xs' %>
    <%= link_to 'Eliminar',
                cliente_acoma_path(cliente_acoma),
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-xs btn-danger' %>
  </td>
</tr>