<%- model_class = ClienteAcoma -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      
            <th>Run cliente</th>
      
            <th>Dv cliente</th>
      
            <th>Nombres cliente</th>
      
            <th>Apellidos cliente</th>
      
      <th>Fecha Creación</th>
    </tr>
  </thead>
  <tbody id="container_cliente_acomas">
    <%= render @cliente_acomas %>
  </tbody>
</table>
<%= link_to 'Nuevo',
            new_cliente_acoma_path,
            :class => 'btn btn-info btn-sm' %>
<%= link_to 'Nuevojax',
                new_cliente_acoma_path, { :class => 'btn btn-info btn-xs', 'data-toggle' => 'modal', 'data-target'=> '#modal_cliente', remote: true } %>
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal_cliente">
  New <%= model_class.model_name.human.titleize %>
</button>

<%= render "modal" %>

<script type="text/javascript">
    $(document).ready(function(){
      $("#cliente_acoma_run_cliente").val('');
      $("#buscador_rut_cliente").val('');

      $("#cliente_acoma_dv_cliente").val('');

      $("#cliente_acoma_nombres_cliente").val('');

      $("#cliente_acoma_apellidos_cliente").val('');
    });
</script>

