<% if @credit_note.present? %>
  <div class="modal-dialog">
  <% @credit_note.each do |credit| %>
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= credit.Proceso %></h4>
      </div>
      <div class="modal-body">
          <p>Folio: <%= credit.Folio %></p>
          <p>Glosa: <%= credit.Glosa %></p>
          <% if(credit.Tipo == 'N') %>
            <% tipoRef =""
               tipoRef = "Factura" if credit.TipDocRef == "F"
               tipoRef = "Boleta" if credit.TipDocRef == "B"
            %>
            <p>Documento Referencia: <%= tipoRef %></p>
          <% end %>
          <p>Fecha:<%= credit.FecHoraCreacionVW.to_formatted_s(:db) if credit.FecHoraCreacionVW %></p>
          <table class="table table-sm table-hover">
            <thead>
              <tr class="bg-danger">
                <th>#</th>
                <th>Código</th>
                <th>Productos Vendidos</th>
                <th>Cantidad</th>
              </tr>
            </thead>

            <tbody>
              <%= render credit.gmovs %>
            </tbody>
          </table>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    <% end %>

  </div>
<% end %>