<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'eDespacho Software', root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <%= form_for :search, url: search_path, html: {class: 'navbar-form navbar-left'}, method: :get do |f| %>
        <div class="input-group">
          <span class="input-group-btn">
            <div class="btn-group">
                <input type="button" class="btn dropdown-toggle" data-toggle="dropdown" id="button-drpdown-toggle" value="selecciona..." style="width: 100px;"/>
                <%= f.hidden_field :type_sale %>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
               <li><a tabindex="-1" id="d_ticket" >Boleta</a></li>
               <li><a tabindex="-1" id="d_sale">Factura</a></li>
               <li><a tabindex="-1" id="d_guide">Salida</a></li>
               <li><a tabindex="-1" id="d_gap">Gaps</a></li>
            </ul>
            </div>
          </span>
          <%= f.text_field :q, class: 'form-control', style: "width: 260px;", readonly: true %>
          <%= f.submit "Buscar", class: 'botton btn btn-default' %>
        </div>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Consultas <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Consulta Despachos Realizados', sale_distpaches_path %></li>
                  <% if current_user.admin? %> 
                    <li><%= link_to 'Cierre Diario', search_distpaches_path %></li>
                  <% end %>
              </ul>
            </li>
          </ul>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.email %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Editar mi Perfil', edit_users_admin_path(current_user.id) %></li>
              <% if current_user.admin? %>
                <li><%= link_to "Crear Usuario", new_users_admin_path, class: 'button' %></li>
                <li><%= link_to "Usuarios del Sistema", users_admin_index_path, class: 'button' %></li>
              <% end %>
              <li><%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Login", new_user_session_path %></li>
          
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<script type="text/javascript">
  
  $(document).ready(function(){
  $("a[id^=d_]").bind({
    click: function(e, ui){
      //$("#document_ticket").val('B');
      if ($.trim($(this).text()) == 'Boleta'){
        $("#search_type_sale").val('B');
        $('#search_q').attr("placeholder", "Buscar por Nº Boleta").val("").focus().blur();
        $('#search_q').attr("readonly", false);

      }
      if ($.trim($(this).text()) == 'Factura'){
        $("#search_type_sale").val('F');
        $('#search_q').attr("placeholder", "Buscar por Nº Factura").val("").focus().blur();
        $('#search_q').attr("readonly", false);
      }
      if ($.trim($(this).text()) == 'Salida'){
        $("#search_type_sale").val('S');
        $('#search_q').attr("placeholder", "Buscar por Nº Guía de Salida").val("").focus().blur();
        $('#search_q').attr("readonly", false);
      }
      if ($.trim($(this).text()) == 'Gaps'){
        $("#search_type_sale").val('Gap');
        $('#search_q').attr("placeholder", "Buscar Saltos de Folios ").val("").focus().blur();
        $('#search_q').attr("readonly", false);
      }
    }
  });
});

$(function(){
  $(".dropdown-menu li a").click(function(){
    $('#button-drpdown-toggle').attr("value", $(this).text());
  });
});
</script>